.copy_right_footer 
{
    position: fixed;
    color: rgba(126, 126, 126, 0.961);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 2.5;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
 }

 
h5
{
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    height: 75px;
    text-align: center;
    padding: 10px;
    width: 35px;
}

b
{
    color: purple;
}

span
{
    color: red;
}

h5
{
   left: 440px;
}